{% extends '::extranet.html.twig' %}

{% block title %}Nuevo paciente{% endblock %}
{% block id 'nuevo_paciente' %}

{% block article %}
    <h2>Ficha Paciente</h2>
    
    <form class="formulario-nuevo-paciente" action="{{ path('extranet_paciente_nuevo') }}" method="post" {{ form_enctype(formulario) }}>
        {{ form_errors(formulario) }}
        
        <fieldset>
            <legend>Datos Personales</legend>
            {{ form_row(formulario.persona.nombre) }}
            {{ form_row(formulario.persona.apellido) }}
            {{ form_row(formulario.persona.rut) }}
            {{ form_widget(formulario.persona.rut) }}
            {{ form_row(formulario.persona.fecha_nacimiento) }}
            {{ form_row(formulario.persona.direccion.direccion) }}
            
            {# FORMA FEA DE ASIGNAR EL ATRIBUTO FOR AL LABEL DE LOS TELEFONOS #}
            {% set cont = 0 %}
            {% for telefono in formulario.persona.telefonos %}
                {% set telefono_personal_for = 'oxigeno_extranetbundle_pacientetype_persona_telefonos_0_numero' %}
                {% set telefono_contacto_for = 'oxigeno_extranetbundle_pacientetype_persona_telefonos_1_numero' %}
                
                <div>
                    {% if cont == 0 %}                    
                        {{ form_label(telefono, 'Telefono personal', {'label_attr': {'for': telefono_personal_for } }) }}
                        {{ form_widget(telefono.numero, {'attr': { 'required': true } }) }}
                    {% else %}
                        {{ form_label(telefono, 'Telefono de contacto', {'label_attr': {'for': telefono_contacto_for } }) }}
                        {{ form_widget(telefono.numero) }}
                    {% endif %}
                </div>
                
                {% set cont = cont + 1 %}
            {% endfor %}
            {{ form_row(formulario.persona.email) }}
        </fieldset>
        
        <fieldset>
            <legend>Ficha Medica</legend>
            {{ form_row(formulario.fecha_ingreso) }}
        </fieldset>
        
        {{ form_rest(formulario) }}
        
        <input type="submit" value="Ingresar Paciente" />
    </form>
{% endblock %}