{% extends '::extranet.html.twig' %}

{% block title %}Ver paciente{% endblock %}
{% block id 'ver_paciente' %}

{% block article %}
    <ul><li><a href="{{ path('extranet_paciente_editar', { 'id': paciente }) }}">Editar Paciente</a></li></ul>
    
    <h2>Ficha Paciente</h2>
    
    <form class="formulario-paciente" action="#" {{ form_enctype(formulario) }}>
        {{ form_errors(formulario) }}
        
        <fieldset>
            <legend>Datos Personales</legend>
            <div class="contenedor-div-izq flotar-der">
                <div class="nomre-paciente"><strong>{{ nomnbre_completo }}</strong></div>
                {{ form_row(formulario.persona.rut) }}
                {{ form_widget(formulario.persona.rut) }}
                {{ form_row(formulario.persona.fecha_nacimiento) }}
                {{ form_row(formulario.persona.direccion.direccion) }}

                {# FORMA FEA DE ASIGNAR EL ATRIBUTO FOR AL LABEL DE LOS TELEFONOS #}
                {% set cont = 0 %}
                {% for telefono in formulario.persona.telefonos %}
                    {% set telefono_personal_for = 'oxigeno_extranetbundle_pacientetype_persona_telefonos_0_numero' %}
                    {% set telefono_contacto_for = 'oxigeno_extranetbundle_pacientetype_persona_telefonos_1_numero' %}

                    <div>
                        {% if cont == 0 %}                    
                            {{ form_label(telefono, 'Telefono personal', {'label_attr': {'for': telefono_personal_for } }) }}
                            {{ form_widget(telefono.numero) }}
                        {% else %}
                            {{ form_label(telefono, 'Telefono de contacto', {'label_attr': {'for': telefono_contacto_for } }) }}
                            {{ form_widget(telefono.numero) }}
                        {% endif %}
                    </div>

                    {% set cont = cont + 1 %}
                {% endfor %}
                {{ form_row(formulario.persona.email) }}
            </div>
            <div class="contenedor-div-der flotar-izq">
                <img class="avatar-paciente-ver" 
                     src="{{ asset('uploads/images/perfil/' ~ avatar) }}" />
            </div>
            
        </fieldset>
        
        <fieldset>
            <legend>Ficha Medica</legend>
            {{ form_row(formulario.fecha_ingreso) }}
            {{ form_row(formulario.ficha_medica.diagnostico) }}
        </fieldset>
    </form>
{% endblock %}